@media (max-width:1200px) {
	.hero__image {
		margin: 0;
		max-width: 377px;
	}

	.hero__image-control {
		position: static;
		max-width: none;
		margin-top: 30px;
	}

	.program__top-content {
		flex-direction: column;
		align-items: stretch;
	}

	.footer__inner {
		grid-template: repeat(2, auto) / repeat(3, auto);
		gap: 30px;
		justify-content: space-between;
	}

	.footer__column:last-child {
		grid-column: 1 / -1;
		text-align: center;
	}
}

@media (max-width:1100px) {
	.about__img {
		grid-row: auto;
	}

	.about__content {
		align-self: center;
	}

	.about__grid {
		grid-column: 1/-1;
	}

	.accordion-inner {
		flex-direction: column;
	}

	.program__action {
		max-width: none;
		grid-template: repeat(3, auto) / 1fr 1fr;
	}

	.program__discount {
		justify-self: center;
	}

	.program__bottom-img {
		display: none;
	}
}

@media (max-width:900px) {
	.header__nav {
		position: fixed;
		inset: 0;
		z-index: 10;
		background: var(--general-bg);
		padding: 26vh 15px 30px;
		font-size: 24px;
		opacity: 0;
		transform: translateY(-50%);
		visibility: hidden;
		transition: var(--transition);
	}

	.header__nav-list {
		flex-direction: column;
		align-items: center;

	}

	.body--opened-menu .header__nav {
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
	}

	.burger-icon {
		display: flex;
	}

	.program__top {
		margin-bottom: 30px;
	}

	.accordion-list__control {
		padding: 30px 20px;
	}

	.accordion-list__control-title {
		font-size: 35px;
	}

	.accordion-list__control-icon svg {
		width: 28px;
		height: 28px;
	}

	.accordion-inner {
		padding: 0 20px 30px;
	}

	.gallery__inner {
		grid-template: none;
	}

	.gallery__img {
		display: none;
	}

	.gallery__info {
		max-width: none;
	}

	.testimonials__scrollbar.swiper-scrollbar {
		width: 50%;
	}

	.footer__inner {
		grid-template: none;
		text-align: center;
		justify-content: center;
	}

	.footer__column:first-child {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer__column:nth-child(3) {
		margin-bottom: -20px;
	}

	.footer__contacts {
		align-items: center;
	}
}

@media (max-width:800px) {
	.hero__content {
		max-width: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 100%;
	}

	.hero__image {
		display: none;
	}

	.hero__image-control--mobile {
		display: flex;
		margin: 0 0 30px;
		max-width: 358px;
	}

	.about__inner {
		grid-template: none;
	}

	.about__img {
		max-width: 500px;
		justify-self: center;
	}

	.about__content {
		text-align: center;
	}

	.about__grid {
		grid-template: none;
	}

	.program__title {
		text-align: center;
	}

	.program__top-content-text {
		align-self: center;
	}

	.tab-controls {
		flex-wrap: wrap;
		gap: 15px;
	}

	.tab-controls__link {
		padding: 10px 23px;
	}

	.accordion-inner__col:first-child {
		max-width: none;
	}

	.accordion-inner__text {
		max-width: none;
	}
}

@media (max-width:600px) {
	.main__about {
		padding: 60px 0 80px;
	}

	.main__program,
	.main__gallery,
	.main__testimonials {
		padding-bottom: 80px;
	}

	.header__hero {
		padding-bottom: 80px;
	}

	.about__img-control {
		bottom: 0;
		left: 0;
		right: 0;
		max-width: none;
		border-radius: 0 0 20px 20px;
		padding: 10px 15px;
	}

	.hero__title {
		font-size: 12vw;
	}

	.about__title {
		font-size: 12vw;
	}

	.about__grid {
		gap: 15px;
	}

	.about__grid-item {
		padding: 10px 15px;
	}

	.program__title {
		font-size: 12vw;
	}

	.accordion-list {
		gap: 15px;
	}

	.accordion-list__control {
		padding: 20px 10px;
	}

	.accordion-list__control-title {
		font-size: 30px;
	}

	.accordion-inner {
		padding: 0 10px 20px;
	}

	.program__action {
		grid-template: none;
		justify-content: center;
		gap: 20px;
	}

	.gallery__inner {
		margin-bottom: 20px;
	}

	.gallery__content {
		flex-direction: column;
	}

	.gallery__title {
		font-size: 12vw;
		text-align: center;
	}

	.gallery__text {
		text-align: center;
	}

	.gallery__nav {
		align-self: center;
	}

	.testimonials__inner {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.testimonials__title {
		font-size: 12vw;
		text-align: center;
	}

	.testimonials__text {
		text-align: center;
	}

	.testimonials__nav {
		align-self: center;
	}

	.testimonials__slide {
		flex-direction: column;
		padding: 20px 15px;
		gap: 15px;
		text-align: center;
	}
}

@media (max-width:450px) {
	.modal_window {
		padding: 0 15px 45px;
	}

	.modal__img {
		max-width: 70%;
		margin-top: -45px;
	}

	.modal__title {
		font-size: 35px;
	}

	.accordion-inner {
		gap: 13px;
	}

	.accordion-inner__col {
		gap: 13px;
	}

	.accordion-inner__list {
		gap: 7px;
	}
}